@import url('https://fonts.googleapis.com/css?family=VT323|Oswald');

body {
  text-align: center;
  margin: 50px;
  background-color: rgb(50, 78, 92);
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.disable-clicks {
  pointer-events: none;
}

.command-line {
  margin: 0 auto 10px;
  font-family: "VT323";
  font-size: 1.75em;
  text-align: center;
  width: 200px;
  height: 1.75em;
  color: #ff3535;
  background-color: #3a0202;
  border: 2px solid grey;
  border-radius: 7.5px;
}

.text {
  display: none;
}

.command-visible {
  transition: all ease 0.5s;
}
#circle {
  display: block;
  padding: 0;
  width: 200px;
  height: 200px;
  border: 1px;
  border-radius: 50%;
  overflow: hidden;
}
.interface {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  margin: 50px
}
.quarter {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
}
#q1 {
  background-color: rgb(247, 57, 85);
}

#q2 {
  background-color: rgb(69, 176, 156);
}

#q3 {
  background-color: rgb(42, 150, 189);
}

#q4 {
  background-color: rgb(239, 201, 76);
}
.score-counter {
  margin: 10px auto 0px;
  border: 2px solid grey;
  border-radius: 7.5px;
  width: 50px;
  font-size: 1.5em;
  font-family: "VT323";
  color: #ff3535;
  background-color: #3a0202;
}

.counter-text {
  font-family: "Oswald";
  font-size: 0.8em;
  margin: 0;
}

.btn {
  margin: 2.5px;
  width: 60px;
  cursor: pointer;
  box-shadow : 0px 2px 3px #212121;
  border: 2px solid grey;
  border-radius: 7.5px;
  font-size: 0.8em;
  font-family: "Oswald";
}

.btn:active{
  box-shadow : 0 1px 1px #212121;
}

.start-game {
  background-color: #10a000;
  color: white;
}

.strict-wrap {
  display: inline-block;
}

.strict-btn {
  background-color: #fffa00;
  color: #3a3a3a;
}

.strict-led {
  background-color: #3a0202;
  border: 1px solid grey;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: auto;
}

.led-active {
  background-color: #ff3535;
}
