body {
  text-align: center;
  margin: 100px;
}

.disable-clicks {
  pointer-events: none;
}

.buttons-circle {
  margin: auto;
  display: block;
  padding: 0;
  width: 300px;
  height: 300px;
  border: 1px;
  border-radius: 50%;
  overflow: hidden;
}

.quarter-btn {
  filter: brightness(100%);
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 150px;
}

.quarter-btn:hover {
  cursor: pointer;
}


.quarter-btn:active, .active {
  filter: brightness(50%);
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.score-counter {
  font-size: 1.5rem;
}

.start-game {
  width: 80px;
  font-size: 15px;
}

.strict-btn {
  display: inline-block;
}
